<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="description" content="Application by Aniket Aryamane">
		<meta name="author" content="Aniket Aryamane">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>{% block title %}{% endblock %}</title>
		<link rel="apple-touch-icon" href="">

		{% load static %}

		<!-- Load django-bootstrap4 library -->
		{% load bootstrap4 %}

		<!-- Link to Bootstrap CSS file -->
		<link rel="stylesheet" href="{% static 'css/vendor/bootstrap/bootstrap.min.css' %}" type="text/css">

		<!-- Link to Materialize CSS file -->
		<!-- <link rel="stylesheet" href="{% static 'css/vendor/materialize/materialize.min.css' %}" type="text/css"> -->

		<!-- Link to Materialize icons -->
		<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

		<!-- Link to Bulma CSS file -->
		<!-- <link rel="stylesheet" href="{% static 'css/vendor/bulma/css/bulma.min.css' %}" type="text/css"> -->

		<!-- Link to Font-Awesome CSS file -->
		<link rel="stylesheet" href="{% static 'css/vendor/font-awesome/css/all.css' %}" type="text/css">

		<!-- Link to your favicon.ico file -->
		<link rel="shortcut icon" href="{% static 'puppies/img/favicon.ico' %}" type="image/x-icon">

		<!-- Link to your css file -->
		<link rel="stylesheet" href="{% static 'puppies/css/main.css' %}" type="text/css">

	</head>

	<body>
		{% include 'navbar.html' %}

		<div class="container">
			<!-- Display django.contrib.messages as Bootstrap alerts -->
			{% bootstrap_messages %}

			{% block content %}{% endblock %}
		</div>

		<!-- Link to Materialize JS file -->
		<!-- <script src="{% static 'js/vendor/materialize/materialize.min.js' %}"></script> -->

		<!-- JQuery comes first in the list -->
		<script src="{% static 'js/vendor/jquery/jquery-3.4.1.min.js' %}"></script>
		<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js"></script>
		<script src="{% static 'js/vendor/babel/babel.min.js' %}"></script>
		<script src="{% static 'js/vendor/popper/popper.min.js' %}"></script>
		<script src="{% static 'js/vendor/bootstrap/bootstrap.min.js' %}"></script>

		<!-- Link to your js file -->
		<script src="{% static 'puppies/js/main.js' %}"></script>

		<!-- Link to your extra javascript/jquery file -->
		{% block extra_js %}{% endblock %}
	</body>

</html>
